body {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.image-headings {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.header-left-text {
  display: flex;
  flex-direction: column;

}

.header-right {
  display: flex;
  flex-direction: row;
  display: flex;
}

.socials {
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 15px;
}

.main-heading-text {
  display: flex;
  flex-direction: column;
}

.hero-img {
  width: 900px;
}

header {
  width: 900px;
}

main {
  width: 900px;
}

main p {
  width: 900px;
  padding-top: 10px;
  text-indent: 1cm;
}

.ingredient-lists-container {
  display: flex;
  justify-content: center;
  width: 900px;
}

.left-ingredient-list {
  margin-right: 125px;
}

.right-ingredient-list {
  margin-left: 125px;
}

.author-info-container {
  display: flex;
  justify-content: center;
  width: 900px;
}

.share-recipe {
  background-color: chocolate;
  color: white;
  font-family: 'Courier New', Courier, monospace;

}

.small-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}